    /* Base Styles */
    
    * {
        font-family: 'Noto Sans', sans-serif;
    }
    
    a {
        color: #eee;
        text-decoration: none;
    }
    
    a:hover {
        color: transparent;
    }
    
    section {
        display: block;
        padding-top: 75px;
    }
    /* Header styles */
    
    .header-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: auto;
    }
    
    header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 50;
        /*Might not need*/
    }
    
    header h3 {
        font-size: 20px;
        font-weight: lighter;
        font-family: 'Noto Sans', sans-serif;
        color: #eee;
        line-height: 45px;
        text-shadow: 1px 1px 3px #333;
        padding-left: 20px;
    }
    
    header .left-menu-wrapper {
        padding-left: 10px;
        flex: 2;
        line-height: 45px;
        text-align: left;
    }
    
    header .right-menu-wrapper {
        padding-left: 10px;
        line-height: 45px;
        text-align: left;
    }
    
    header nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    /* Hero Image */
    
    #hero-image {
        background: url("../images/hero.jpg") no-repeat fixed bottom;
        height: 700px;
        background-size: cover;
        position: relative;
    }
    
    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 30%;
        width: 100%;
        text-align: center;
        color: #ccc;
        font-size: 20px;
    }
    
    .overlay .tag-line {
        width: 40%;
        margin: auto;
        padding-bottom: 20px;
    }
    
    .overlay p {
        font-size: 18px;
        width: 70%;
        margin: auto;
    }
    
    .overlay button {
        margin-top: 50px;
        border-radius: 5px;
        height: 50px;
        font-size: 20px;
        background-color: rosybrown;
    }
    
    .overlay button:hover {
        cursor: pointer;
        opacity: 0.9;
    }
    
    .description-one {
        background-color: rgb(247, 230, 225);
        display: flex;
        flex-direction: row;
        height: 70vh;
    }
    
    .overlay-two {
        padding-left: 280px;
        width: 50vw;
    }
    
    .overlay-two h2 {
        font-size: 30px;
        color: rgb(105, 33, 15);
        padding: 30px 0;
    }
    
    .overlay-two p {
        font-size: 20px;
    }
    
    .description-one-image {
        height: 450px;
        padding-left: 150px;
    }
    
    .description-two {
        background-color: white;
        display: flex;
        flex-direction:row;
        height: 650px;
        padding-top: 0%;
        
    }

    .description-two-image {
        width: 770px;
        height: 650px;
        /* padding-right: 150px; */
    }
    
    .overlay-three {
        width: 55%;
        height: 60%;
        padding: 7% 2% 0 7%;
    }

    .overlay-three h2 {
        font-size: 30px;
        color: rgb(105, 33, 15);
        padding: 30px 0;
    }

    .overlay-three p {
        font-size: 19px;
        color: rgb(86, 88, 88);
        padding-bottom: 2%;
        
    }

    .benefits{
        background-color: #141517;
        padding: 0%;
    }

    .benefits-row{
        display: flex;
        flex-direction: row;
        padding: 5% 5% 0 12%;
    }

    .benefits-items{
        padding-right: 6%;
    }

    .benefits-items h4{
        font-size: 25px;
        color: #FFFFFF;
    }

    .benefits-items p{
        font-size: 16px;
        color: #AAAFB4;
    }

    .benefits button{
        position: relative;
        margin-top: 5%;
        left: 45%;
        border-radius: 5px;
        height: 50px;
        font-size: 20px;
        background-color: rosybrown;
    }

    .testimonial {
        /* width: 720px; */
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 120x auto;
        padding-left: 12%;
        padding-right: 12%;
    }

    .testimonial .tag-line-four{
        text-align: center;
        font-size: 30px;
        padding-bottom: 40px;
    }

    .testimonial .testimonial-people{
        display: flex;
        height: auto;
        /* margin: 120x auto;
        padding-left: 12%;
        padding-right: 12%; */
    }


    
    .testimonial .testimonial-people .testimonial-person {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 5%;
    }

    .testimonial .testimonial-people .testimonial-person .person{
        padding-top: 20px;
    }
    
    .testimonial .testimonial-person .person img{
        width: 180px;
        height: 120px;
    }

    .testimonial .testimonial-people .testimonial-person .person .name{
        font-weight: bolder;
        font-size: 17px;
    }
    .testimonial .testimonial-people .testimonial-person .person .example-site{
        font-weight: lighter;
        color: #AAAFB4;
    }

    .testimonial .testimonial-people .testimonial-person .quote{
        display: flex;
        width: 100%;
    }
    
    .testimonial .testimonial-people .testimonial-person .quote i{
        padding-right: 20px;
    }
    
    .testimonial .testimonial-people .testimonial-person .quote p{
        padding-top: 20px;
        
    }
    
    

 